:root {
  --default-font-size: 62.5%;
  --primary-shape-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.04);
  --primary-form-box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.04);
  --primary-text-color: #adacac;
  --primary-heading-color: rgb(74, 74, 74);
  --primary-shape-color: #ffb6b9;
  --primary-shape-background-color: #fcfcfc;
  --primary-wrong-valid-color: #d53e3e;
  --primary-negative-percent-color: #cd1010;
  --primary-positive-percent-color: #10cd5c;
}
